
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
  }
  
  .footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
  }
  
  .footer .social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 0.5rem;
    transition: 0.3s ease-in-out;
  }
  
  .footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color);
  }
  
  .footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
  }
  
  .footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
  }
  
  .footer ul li a:hover {
    border-bottom: 3px solid var(--main-color);
  }
  
  .footer ul li {
    display: inline-block;
    padding: 0 15px;
  }
  
  .footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
  }